../27th feb-JS DOM Assignment/
deleted:    ../project-JS DOM/counter app/index.html
        deleted:    ../project-JS DOM/eventListnerProjects/css-for-all/style.css
        deleted:    ../project-JS DOM/eventListnerProjects/double-click/index.html   
        deleted:    ../project-JS DOM/eventListnerProjects/keydown-keyup/index.html  
        deleted:    ../project-JS DOM/eventListnerProjects/mouse-out/index.html      
        deleted:    ../project-JS DOM/eventListnerProjects/mouse-over/index.html     
        deleted:    ../project-JS DOM/eventListnerProjects/on-keypress/index.html    
        deleted:    ../project-JS DOM/eventListnerProjects/one-click/index.html