body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

#click-it {
    background-color: #ff6347;
    height: 200px;
    width: 200px;
    border: 1px solid #b12d15;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}